@import './mixins';

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

input {
    border: none;
    background: transparent;
    outline: none;
}
  
a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
    outline: none;
}

.container {
    max-width: 1500px;
    height: 100vh;
    display: flex;
    justify-content: flex-start;

    margin: 0 auto;

    @include breakpoint(1200) {
        justify-content: center;
    }

    @include breakpoint(600) {
        &::after {
            left: -200px;
        }
    }
}

.background {
    height: 100vh;
    overflow: hidden;

    background-image: url('../images/back-main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: -180px;

        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.2;
    }

    @include breakpoint(1200) {
        background-position: left;
    }
}

.footer-background {
    min-height: 142px;
    overflow: hidden;

    background-color: #212121;
    background-repeat: no-repeat;
    background-size: cover;
}

.register {
    width: 237px;
    height: 58px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    font-weight: 500;

    color: #fff;
    text-transform: uppercase;
    
    border-radius: 5px;      
    background-image: -webkit-linear-gradient( 90deg, rgb(183,134,40) 0%, rgb(198,147,32) 22%, rgb(219,165,20) 51%, rgb(238,182,9) 80%, rgb(252,194,1) 100%);

    cursor: pointer;

    &_big {
        width: 285px;
        height: 83px;

        font-size: 24px;
    }
}

.text {
    text-transform: uppercase;
    color: #ffc248;
    line-height: 0.917;

    &__extra-bold {
        font-weight: 800;

        line-height: 1.183;
        text-align: left;
    }

    &_24px {
        font-size: 24px;
    }

    &_36px {
        font-size: 36px;
    }

    &-orange {
        color: #be9c16;
    }

    &-white {
        color: #fff;
    }

    @include breakpoint(500) {
        &_30px {
            font-size: 25px;
        }
    
        &_60px {
            font-size: 40px;
        }
    }
}

.neon-green {
    text-shadow: 0 0 10px #3f6b34, 0 0 20px #3f6b34, 0 0 30px #3f6b34, 0 0 40px #3f6b34, 0 0 50px #3f6b34, 0 0 60px #3f6b34, 0 0 70px #3f6b34;
}